
/* Typography */

h1, h2, h3, h4 {

	font-family: $titleFontFamily;
	font-weight: $titleFontWeight;
	color: $titleFontColour;
	text-align: center;

}

header {

	h1, h2, h3, h4, h5 {

		color: $white;

	}

	h1 {

		font-size: 5em;

	}

}

body {

	font-family: $bodyFontFamily;
	font-size: 16px;
	text-align: center;

}