
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

/* Colors */

$black: #262626;
$white: #ffffff;
$gray: #444444;
$lightGray: #e5e5e5;

$darkBlue: #12304e;
$lightBlue: #1476f2;

$titleFontFamily: "Lato", sans-serif;
$titleFontWeight: 500;
$titleFontColour: $gray;
	
$bodyFontFamily: "Lato", sans-serif;
$bodyFontWeight: 400;

$fastTransition: all 0.3s;

$grayGradient: linear-gradient(180deg, #f6f6f6 0%, #d6d6d6 100%);

/* Screen sizes */

$desktop: 1920px;
$laptop: 1440px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$mobileLargeLandscape: 736px;
$mobileLargePortrait: 425px;