@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Anton");
/* Colors */
/* Screen sizes */
/* Typography */
h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #444444;
  text-align: center; }

header h1, header h2, header h3, header h4, header h5 {
  color: #ffffff; }

header h1 {
  font-size: 5em; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center; }

/* Grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0; }
  .grid .item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 150px;
    min-width: 15%;
    margin: 15px;
    padding: 15px;
    transition: all 0.3s;
    color: #262626; }
    .grid .item h1, .grid .item h2, .grid .item h3, .grid .item h4, .grid .item p, .grid .item blockquote {
      text-align: center;
      width: 100%; }
    .grid .item > div {
      height: 100%;
      width: 100%; }
    .grid .item .grid {
      width: 100%;
      height: auto;
      margin: 15px 0 0 0; }
      .grid .item .grid .item {
        background: rgba(255, 255, 255, 0.8);
        color: #262626; }
        .grid .item .grid .item h1, .grid .item .grid .item h2, .grid .item .grid .item h3, .grid .item .grid .item h4, .grid .item .grid .item h5 {
          color: #262626; }
      .grid .item .grid .data-category {
        cursor: pointer; }
        .grid .item .grid .data-category:hover, .grid .item .grid .data-category:focus {
          background: #1476f2; }
          .grid .item .grid .data-category:hover h4, .grid .item .grid .data-category:hover svg, .grid .item .grid .data-category:hover i, .grid .item .grid .data-category:focus h4, .grid .item .grid .data-category:focus svg, .grid .item .grid .data-category:focus i {
            display: none; }
          .grid .item .grid .data-category:hover span, .grid .item .grid .data-category:focus span {
            color: #ffffff;
            display: block; }
        .grid .item .grid .data-category svg, .grid .item .grid .data-category i {
          color: #1476f2; }
        .grid .item .grid .data-category p {
          margin: 0; }
        .grid .item .grid .data-category span {
          display: none; }
      .grid .item .grid .data-details {
        border: none; }
      .grid .item .grid .data-details-meta {
        background: none;
        border: none;
        min-height: 1px;
        margin: 15px 15px 0 15px; }
      .grid .item .grid .data-category-no-results:hover h4, .grid .item .grid .data-category-no-results:hover svg, .grid .item .grid .data-category-no-results:hover i, .grid .item .grid .data-category-no-results:focus h4, .grid .item .grid .data-category-no-results:focus svg, .grid .item .grid .data-category-no-results:focus i {
        display: black;
        color: #ffffff; }
    @media (max-width: 1024px) {
      .grid .item {
        margin: 15px 0 0 0;
        min-width: 90%; } }

/* Buttons */
.btn {
  min-width: 160px;
  margin: 15px; }
  .btn i, .btn svg {
    margin: 0 5px; }

.btn-default {
  border: none;
  background: #12304e;
  color: #ffffff;
  transition: all 0.3s; }
  .btn-default:hover, .btn-default:focus {
    background: #081725;
    box-shadow: none;
    color: #ffffff; }

.btn-primary {
  border: none;
  background: #1476f2;
  color: #ffffff;
  transition: all 0.3s; }
  .btn-primary:hover, .btn-primary:focus {
    background: #0b5ec8;
    color: #ffffff;
    box-shadow: none; }

/* Search */
.search {
  display: block;
  margin: 15px; }
  .search input {
    border: 1px solid #e5e5e5; }
    .search input::placeholder {
      color: #444444; }
  .search .mb-3 {
    position: relative;
    margin: 0 !important; }
    .search .mb-3 .reset {
      position: absolute;
      z-index: 10;
      top: 7px;
      right: 10px; }
      .search .mb-3 .reset a {
        color: #262626; }

.dropdown-menu {
  display: block !important;
  width: 100%;
  border-color: #e5e5e5; }
  .dropdown-menu .dropdown-item {
    padding: 0.5rem 1.5rem; }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
      background: #1476f2;
      color: #ffffff !important; }

body {
  background: linear-gradient(180deg, #f6f6f6 0%, #d6d6d6 100%);
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden; }

header {
  color: #ffffff;
  padding: 60px 0 15px; }
  header h1 {
    font-family: "Anton", Sans-Serif;
    text-transform: uppercase;
    color: #12304e; }
  header h2 {
    color: #1476f2; }
  header p {
    color: #262626; }

.input-group-text {
  background: #1476f2;
  border: 1px solid #1476f2;
  color: #ffffff; }

blockquote {
  font-size: 2em;
  font-style: italic;
  color: #1476f2; }
